html,
body,
.app {
   margin: 0px;
   height: 100%;
   width: 100%;
   position: absolute;
}

.view > div {
  flex: 1;
}
.view {
   margin: 0px;
   min-height: 100%;
   width: 100%;

   .main-page > div {
     flex: 1;
     display: flex;
  justify-content: center;
  flex-direction: column;
   }

   .main-page {
     margin: 0px;
     width: 100%;
     position: absolute;
     height: 100%;
     display: flex;
     flex-direction: column;
     .air-polution {
       width: 100%;
       margin: 0px;
       position: relative;
       border: 1px solid black;
       .air-description {
         width: 60%;;
       }
       .air-toggle {
         left: 90%;
         transform: translateX(-50%);
       }
     }
     .uv-radiations{
        height: 25%;
        width: 100%;
        margin: 0px;
        position: relative;
       .uv-description{

       }
       .uv-toggle {

       }
     }
     .weather {
        height: 25%;
        width: 100%;
        margin: 0px;
        position: relative;
        .weather-description {

        }
        .weather-toggle {

        }
     }
     .traffic {
        height: 25%;
        width: 100%;
        margin: 0px;
        position: relative;
      .traffic-description {

      }
      .traffic-toggle{

      }
     }
   }
}
